mat-form-field{
  height: 50px;
  margin-left: 20px;
  background-color: #ADD8E6;
}
.aboveTable {
  height: 50px;
  margin: 0px 20px 0px 15px;
  background-color: #ADD8E6;
  padding: 5px 5px 5px 5px;
}
th.mat-sort-header-sorted {
  color: black;
}
.filtering {
  display: flex;
  justify-content: flex-start;
}
.mat-elevation-z8 {
  margin: 0px 20px 15px 15px;
}
table{
  width:100%;
  border-radius: 15px;
}

th {
  background-color: #ADD8E6;
  color: black;
  font-size: 20px;
  border: 10px;
}
td{
  background-color: #E6E6FA;
  font-size: 15px;
  border-bottom: black;
}
mat-paginator {
  background-color: #ADD8E6;
  font-size: 15px;
  padding: 0px;

}
.mat-column-date {
   width: 15%;
}
.mat-column-delete {
  width: 3%;
}
.mat-column-dialog {
  width: 5%;
}
.mat-column-price {
  width: 10%;
}
