h1 {
  text-align: center;
  color: white;
}
h2 {
  margin: 10px;
  text-align: center;

}
mat-form-field {
  width: 95%;
  margin-left: 20px;
}
label {
  padding: 12px 10px 12px 12px;
  display: inline-block;
}
button {
  padding: 5px 20px;
  float: right;
  margin-top: 15px;
}
.mat-elevation-z8 {
  width:45%;
  border-radius: 5px;
  background-color: #E6E6FA;
  padding: 15px;
  margin: 10px;
  margin-top: 150px;
}
.two-forms {
  display: flex;
  justify-content: center;
}
